<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.screen">

    <application>
        <provider
            android:name="com.screen.ScreenContentProvider"
            android:authorities="${applicationId}.screenprovider"
            android:enabled="true"
            android:exported="false"></provider>
        <activity
            android:name="com.screen.placeholder.DefaultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.screen.placeholder.LandscapeActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.screen.placeholder.PortraitActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.screen.placeholder.BehindActivity"
            android:screenOrientation="behind"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.screen.placeholder.SensorActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.screen.placeholder.SLActivity"
            android:screenOrientation="sensorLandscape"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.screen.placeholder.SPActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.screen.placeholder.NosensorActivity"
            android:screenOrientation="nosensor"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.screen.placeholder.UserActivity"
            android:screenOrientation="user"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <service android:name="com.screen.placeholder.PlaceholderService" />
    </application>
</manifest>
