<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.media" >
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application>
        <service android:name="com.tvbus.engine.TVService" />
        <service android:name=".MusicService"
            android:process=":music.service"/>
    </application>
</manifest>
