<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{1008,80},{48,12}}</string>
                <key>offset</key>
                <string>{-7,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,0},{48,12}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0001</key>
            <dict>
                <key>frame</key>
                <string>{{942,364},{72,116}}</string>
                <key>offset</key>
                <string>{-19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,0},{72,116}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0002</key>
            <dict>
                <key>frame</key>
                <string>{{654,440},{82,122}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,0},{82,122}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0003</key>
            <dict>
                <key>frame</key>
                <string>{{814,364},{92,126}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,0},{92,126}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,130}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{168,130}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0005</key>
            <dict>
                <key>frame</key>
                <string>{{172,80},{166,124}}</string>
                <key>offset</key>
                <string>{26,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{166,124}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0006</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{166,124}}</string>
                <key>offset</key>
                <string>{26,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{166,124}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0007</key>
            <dict>
                <key>frame</key>
                <string>{{510,80},{164,102}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,21},{164,102}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0008</key>
            <dict>
                <key>frame</key>
                <string>{{676,158},{162,124}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{162,124}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0009</key>
            <dict>
                <key>frame</key>
                <string>{{332,290},{160,124}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{160,124}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0010</key>
            <dict>
                <key>frame</key>
                <string>{{840,240},{158,122}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,1},{158,122}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0011</key>
            <dict>
                <key>frame</key>
                <string>{{506,184},{162,110}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,13},{162,110}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0012</key>
            <dict>
                <key>frame</key>
                <string>{{166,362},{160,96}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,27},{160,96}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0013</key>
            <dict>
                <key>frame</key>
                <string>{{336,208},{162,80}}</string>
                <key>offset</key>
                <string>{9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,43},{162,80}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{160,86}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,37},{160,86}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{160,88}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,35},{160,88}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0016</key>
            <dict>
                <key>frame</key>
                <string>{{164,460},{156,98}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,25},{156,98}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{156,88}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{156,88}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0018</key>
            <dict>
                <key>frame</key>
                <string>{{840,158},{160,80}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,43},{160,80}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0019</key>
            <dict>
                <key>frame</key>
                <string>{{842,80},{164,76}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,47},{164,76}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0020</key>
            <dict>
                <key>frame</key>
                <string>{{676,80},{164,76}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,47},{164,76}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{164,76}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,47},{164,76}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0022</key>
            <dict>
                <key>frame</key>
                <string>{{340,128},{164,78}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,46},{164,78}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0023</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{166,76}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{166,76}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0024</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{166,76}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{166,76}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0025</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{166,76}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{166,76}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0026</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,76}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,47},{168,76}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0027</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{166,76}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{166,76}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0028</key>
            <dict>
                <key>frame</key>
                <string>{{170,206},{164,76}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,47},{164,76}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0029</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{162,76}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{162,76}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0030</key>
            <dict>
                <key>frame</key>
                <string>{{168,284},{162,76}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{162,76}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0031</key>
            <dict>
                <key>frame</key>
                <string>{{328,416},{158,76}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,47},{158,76}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0032</key>
            <dict>
                <key>frame</key>
                <string>{{494,374},{158,76}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,47},{158,76}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0033</key>
            <dict>
                <key>frame</key>
                <string>{{654,362},{158,76}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,47},{158,76}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0034</key>
            <dict>
                <key>frame</key>
                <string>{{494,296},{158,76}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,47},{158,76}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>gold.swf/0035</key>
            <dict>
                <key>frame</key>
                <string>{{670,284},{158,76}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,47},{158,76}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gold.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eff6dfabed07e42148257d4da146394a$</string>
            <key>textureFileName</key>
            <string>gold.png</string>
        </dict>
    </dict>
</plist>
