<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bmwi8_1000x700.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{664,302}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,84},{664,302}}</string>
                <key>sourceSize</key>
                <string>{680,476}</string>
            </dict>
            <key>bmwi8_132x132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>bmwi8_751x459.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,332},{511,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,313}}</string>
                <key>sourceSize</key>
                <string>{511,313}</string>
            </dict>
            <key>bmwi8_817x229.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,790},{556,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,156}}</string>
                <key>sourceSize</key>
                <string>{556,156}</string>
            </dict>
            <key>bmwi8_819x518.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,390},{557,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,353}}</string>
                <key>sourceSize</key>
                <string>{557,353}</string>
            </dict>
            <key>bmwi8_822x481.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{559,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,328}}</string>
                <key>sourceSize</key>
                <string>{559,328}</string>
            </dict>
            <key>bmwi8_914x349.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{622,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,238}}</string>
                <key>sourceSize</key>
                <string>{622,238}</string>
            </dict>
            <key>bmwi8_934x278.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,769},{636,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,190}}</string>
                <key>sourceSize</key>
                <string>{636,190}</string>
            </dict>
            <key>bmwi8_943x554.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{642,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,377}}</string>
                <key>sourceSize</key>
                <string>{642,377}</string>
            </dict>
            <key>bmwi8_945x567.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{643,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{643,386}}</string>
                <key>sourceSize</key>
                <string>{643,386}</string>
            </dict>
            <key>bmwi8_969x221.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,647},{643,141}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{643,141}}</string>
                <key>sourceSize</key>
                <string>{659,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bmwi8.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c057d2b73ac8e01c76958a519941b26:1/1$</string>
            <key>textureFileName</key>
            <string>bmwi8.png</string>
        </dict>
    </dict>
</plist>
